{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <p class="text-center mb-4">Cosmic registration, warp and done!</p>
    <form action="/register" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="email" placeholder="Your Email address" type="email" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Create a Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm your password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="birthyear" name="birthyear" placeholder="Birthyear" type="number" min="1900" max="2023" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
